@import "modelo";
@import "media-query";

.content {
  min-height: $full-height;
  height: auto !important;
  height: $full-height;
  margin: 0 auto -49px -10px;
  .container{
    width: $full-width;
    margin: 0;
    padding: 0;
    .row {
      position: relative;
      left: 100px;
      margin: auto;
      height: $row-height;
      width: $row-width;
      max-width: 1200px;
    }
    .push{
      height: $push-height;
      width: $full-width;
    }
  }
}

.content{
  .info-content{
    position: relative;
    top:65px;
    padding-right: 100px;
  }
  h1 {
    color: $cor4;
    font-weight: bold;
  }
  p{
    color: $cor4;
    text-align: justify;
  }
  .img{
    position: relative;
    top:40px;
    height: 226px;
    width: 600px;
  }
}

#home {
  background-color: $cor1;
  .info-content{
    position: relative;
    top:65px;
    left: 25%;
  }
  h1 {
    font-size: 36pt;
    color: $cor4;
    font-weight: bold;
  }
  p{
    font-size: 14pt;
    position: relative;
    left: -30px;
    font-weight: lighter;
  }
  .img{
    background: url("../../img/img-1.png");
  }
}

#sobre {
  background-color: $cor2;
  .img{
    background: url("../../img/img-1.png");
  }
  .btn{
    background-color: $cor1;
    border: $border;
  }
}

#produtos{
  background-color: $cor1;
  .img{
    background: url("../../img/img-2.png");
  }
  .btn{
    background-color: $cor2;
    border: $border;
  }
}

#contato{
  background-color: $cor3;
  //background-color: $cor2;
  .input-xlarge{
    width: 600px;
  }
  .input-large{
    width: 400px;
  }
  label{
    color: $cor1;
  }
  input{
    padding: 4px;
    border: $border;
    border-radius: $border-radius;
  }
  textarea{
    width: 600px;
    height: 60px;
    border: $border;
    border-radius: $border-radius;
  }
  #enviar{
    background-color: $cor2;
    //background-color: $color1;
    border: $border;
  }
}